.App {
  text-align: center;
}

body {
  background-color: #d8b4fe;
}

.RollDice {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 15%;
  padding: 40px 10px;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-color: #f3e8ff;
  box-shadow: -7px 6px 4px 3px rgba(107, 33, 168, 0.56);
}

.RollDice-dice {
  display: flex;
  justify-content: space-evenly;
}

.Die-icon {
  color: #581c87;
}

.RollDice-btn {
  background-color: #581c87;
  padding: 20px;
  width: 200px;
  border: 0;
  border-radius: 100px;
  color: #ede9fe;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  transition: 0.3s;
}

.RollDice-btn:hover {
  cursor: pointer;
  background-color: #6b21a8;
  box-shadow: -2px 6px 2px 1px rgb(107 33 168 / 70%);
}

/* copied from https://www.w3schools.com/howto/howto_css_shake_image.asp */

.animation-shake {
  animation: shake 0.6s;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(10deg); }
  10% { transform: translate(-2px, -4px) rotate(-5deg); }
  20% { transform: translate(-5px, 0px) rotate(5deg); }
  30% { transform: translate(5px, 4px) rotate(10deg); }
  40% { transform: translate(2px, -2px) rotate(5deg); }
  50% { transform: translate(-2px, 4px) rotate(-5deg); }
  60% { transform: translate(-5px, 2px) rotate(10deg); }
  70% { transform: translate(5px, 2px) rotate(-5deg); }
  80% { transform: translate(-2px, -2px) rotate(5deg); }
  90% { transform: translate(2px, 4px) rotate(10deg); }
  100% { transform: translate(2px, -4px) rotate(-5deg); }
}
